<h3>1. Download Beautifulsoup and import libraries.</h3>

In [1]:
! pip install beautifulsoup4
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup
print('done')

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
done

<h3>2. Scrape the wikipedia data.</h3>

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
website_url = requests.get(url).text
print('Data recieved')

Data recieved

<h3>3. transform the data into a pandas dataframe</h3>

In [6]:
tds = []
soup = BeautifulSoup(website_url, 'html.parser')
divs = soup.findAll("table", {"class": "wikitable sortable"})
for div in divs:
    rows = div.findAll('tr')
    for row in rows :
        tds.append(row.findAll('td'))
        
tds = str(tds)
tds = tds.replace("<td>", "").replace("</td>", "").split("], [")
data = []
for i in tds:
    data.append(i.replace("\n", ""))
    
data.pop(0)
data[-1] = data[-1].replace("]]", "")

new_data=[]
for d in data:
    new_data.append(d.split(', '))
    
postal_code = []
borough = []
neighborhood = []
for d in new_data:
    postal_code.append(d[0])
    borough.append(d[1])
    neighborhood.append(d[2])

df = pd.DataFrame({"PostalCode": postal_code, "Borough": borough, "Neighborhood": neighborhood})
df = df[["PostalCode","Borough", "Neighborhood"]]
df.sort_values('PostalCode', ascending=True, inplace=True)
df = df.reset_index(drop=True)
df.head()

  PostalCode       Borough  Neighborhood
0        M1A  Not assigned  Not assigned
1        M1B   Scarborough       Malvern
2        M1C   Scarborough    Rouge Hill
3        M1E   Scarborough     Guildwood
4        M1G   Scarborough        Woburn

<h3>4.Drop rows where borough is not assigned <h3>

In [7]:
to_drop = df[df['Borough'] == 'Not assigned'].index
df.drop(to_drop, inplace=True)
df = df.reset_index(drop=True)
df.head()

  PostalCode      Borough Neighborhood
0        M1B  Scarborough      Malvern
1        M1C  Scarborough   Rouge Hill
2        M1E  Scarborough    Guildwood
3        M1G  Scarborough       Woburn
4        M1H  Scarborough    Cedarbrae

<h3>5. Check if Neighborhood has "Not assigned" values</h3>

In [11]:
print(df[df['Neighborhood']=='Not assigned'])

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

<h3>6. Using the .shape method to print the number of rows of the dataframe</h3>

In [12]:
print(df.shape)

(103, 3)